$white: #fff;
$danger: #dc3545;
$danger-active: #e35d6a;
$danger-hover: #bf2231;
$black: #1d1f4f;
$green: #4caf50;
$light-green: #94f7a7;
$light-cyan: #d5fef8;
$cyan: #81fbfc;
$light-yellow: #fff8cc;
$yellow: #ffe881;
$light-red: #ffe7dd;
$red: #ffa698;
$primary: #ff778d;
$secondary: #727272;
$grey-1: #f0f0f0;
$grey-2: #d5d5d5;
$black-1: #222;
